<form class="form" (ngSubmit)="onSubmit()">

  <table class="formulario" cellspacing="0"><tr>
    <td><mat-form-field class="celda" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" [(ngModel)]="person.nombre" type="string" placeholder="Guillermo">
    </mat-form-field></td>
    <td><mat-form-field class="celda" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput name="apellidos" [(ngModel)]="person.apellido" type="string" placeholder="Blanco Garcia">
    </mat-form-field></td>
  </tr></table>
  <p>
    <mat-form-field class="celda" appearance="fill">
      <mat-label>Email</mat-label>
      <textarea matInput name="Email" [(ngModel)]="person.email" type="string" placeholder="jscoffy@gmail.com"></textarea>
    </mat-form-field>
    <mat-form-field class="celda" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput name="contraseña" [(ngModel)]="person.password" placeholder="1234hola">
    </mat-form-field>
  </p>
</form>
<button mat-button (click)="Guardar()" mat-flat-button color="primary">Guardar</button>
