<div>
<p>
  <mat-toolbar style="align-items: centre;">
    <span>{{title}}</span>
  </mat-toolbar>
</p>
<p>
  <mat-toolbar class=" menu">
   <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span> MENU</span>
  <a mat-menu-item class ="login" routerLink="/login" routerLinkActive="click"> Login</a>
  <a mat-menu-item class ="registro" routerLink="/registro" routerLinkActive="click"> Registro</a>
</mat-toolbar>
</p>

<div class="menu">
<mat-menu #menu="matMenu">
  <nav>
    <a mat-menu-item class ="button" routerLink="/descripcion-cafeteria" routerLinkActive="activebutton"> <mat-icon class="mat-1">home</mat-icon>  Inicio</a>
    <a mat-menu-item class ="button" routerLink="/pagina-principal" routerLinkActive="activebutton"> <mat-icon class="mat-18">coffee </mat-icon> Mis Productos</a>
    <a mat-menu-item class ="button" routerLink="/Pedido" routerLinkActive="click"> <mat-icon class="mat-18">shopping_basket</mat-icon> Cesta</a>
  </nav>
</mat-menu>
</div>

<div class="container">

  <router-outlet></router-outlet>
</div>
</div>

