.hiper{
  text-decoration: none;
  color: white;
}

.titulo {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border: none;
  margin: auto;
}
h1{
  color: white;
  text-align: center;
}
span {
  display:block;
  font-size: 1cm;
  }

.mat-toolbar.menu{
  background-color:#40241a ;
  justify-content: left;
  color: white;
}

.mat-toolbar{
  justify-content: center;
  background-color:#40241a ;
  color: white;
}

.registro{
  color: white;
  margin-left: 0%;
}
.login{
  margin-left:83%;
  color: white;
}
.mat{
  color: white;
}
