
<mat-card class="card"  *ngFor="let food of comida">
  <mat-card-title-group>
    <mat-card-title>{{food.typeFood}}</mat-card-title>
    
  </mat-card-title-group>
  <mat-card-content>
    <p> <img class="imagenes" [src]="food.imagen"> </p> 
    <div></div>
    <p class="description"> {{food.description}}  </p> <br>
    <p class="price"> {{food.price}} € </p>
  </mat-card-content>

  <mat-card-actions class="boton">
    <button  mat-raised-button (click)="sumar(food.typeFood)"><mat-icon>add</mat-icon></button>
      <span class="cero" >{{food_o.cantidad}}</span>
    <button  mat-raised-button (click)="restar(food.typeFood)"><mat-icon>remove</mat-icon></button>
 
  </mat-card-actions>


</mat-card>
