<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> tipo </th>
      <td mat-cell *matCellDef="let cafe"> {{cafe.tipo}} </td>
    </ng-container>


    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let cafe"> {{cafe.precio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<div class="contenedor">

  <mat-form-field>
    <input matInput name="tipo_cafe" [(ngModel)]="articuloselect.tipo" type="text" placeholder="Ingrese tipo de cafe">
  </mat-form-field>

  <mat-form-field>
      <input matInput name="numero" [(ngModel)]="articuloselect.numero" type="number" placeholder="Ingrese numero de cafes">
  </mat-form-field>

  <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  </mat-radio-group>
  <p>{{resultado}}</p>

</div>

