<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <tr *ngFor= "let cafe of cafes">
        <td>{{cafe.typeCoffe}}</td>
      </tr>
    </ng-container>


    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <tr *ngFor= "let cafe of cafes">

        <td>{{cafe.price}}</td>
      </tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<div class ="contenedor">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let cafe of cafes">
        <td>{{cafe.typeCoffe}}</td>
        <td>{{cafe.price}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6 offset-md-3">
<h3 class ="text-center">Pedido</h3>
<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput name="tipo_cafe" [(ngModel)]="coffe_o.typeCoffe" type="text" placeholder="Ingrese tipo de cafe">
  </mat-form-field>
<br>
  <mat-form-field>
      <input matInput name="numero" [(ngModel)]="coffe_o.numCoffe" type="number" placeholder="Ingrese numero de cafes">
  </mat-form-field>
  <br>
  <button class="btn btn-success">Guardar</button>
</form>
</div>

