
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  text-align: center;

}
td {
  font-size: medium;
  text-align: center !important;
  vertical-align: auto !important;
  font-family: 'Courier New', Courier, monospace;
  background-color: palegoldenrod ;
}

th {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: black ;
  text-align: center !important;
  vertical-align: auto !important;
  background-color: #EAC46B  ;
}


h3 {
  color: rgb(50,50,50);
  text-decoration: none;
  text-align: center;
 }
form{
  width: 120%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h3 {
  color: rgb(50,50,50);
  text-decoration: none;
  text-align: center;
 }
form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
