
<h2>Lista del pedido</h2>
<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let datos"> {{datos.typeCoffe}} </td>
  </ng-container>

  <ng-container matColumnDef="Numero">
    <th mat-header-cell *matHeaderCellDef> Numero </th>
    <td mat-cell *matCellDef="let datos"> {{datos.numCoffe}} </td>
  </ng-container>

  <ng-container matColumnDef="Precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let datos"> {{datos.price}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Borra </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
        Borra
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>


<!--table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Numero</th>
      <th>Precio</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos ">
    <td>{{dato.typeCoffe}}</td>
    <td>{{dato.numCoffe}}</td>
    <td>{{dato.price}}</td>
    <td><button>
      Delete
    </button></td>
  </tr>
  </tbody>
</table-->
