
<!--table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let coffe"> {{coffe.type_Coffe}} </td>
  </ng-container>

  <ng-container matColumnDef="Numero">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let coffe"> {{coffe.num_Coffe}} </td>
  </ng-container>


  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let coffe"> {{coffe.price}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let j = index;">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="filas"></tr>
  <tr mat-row *matRowDef="let row; columns: filas;"></tr>
</table-->

<h2>Lista del pedido</h2>
<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Numero</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos ">
    <td>{{dato.typeCoffe}}</td>
    <td>{{dato.price}}</td>
  </tr>
  </tbody>
</table>
