h2{
  text-align: center;
  font-family: fantasy;
  color: white;
  font-size: x-large;
}
table {
  width: 90%;
  margin:1rem auto;
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

td {
  font-size: medium;
  text-align: center !important;
  vertical-align: auto !important;

}

th {
  font-size: medium;
  color: black ;
  text-align: center !important;
  vertical-align: auto !important;
}



button {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

button.delete {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.update {
  background-color: blue;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.confirmar{

  margin-left: 91%;
  margin-right: 5%;
}

.total{
  
  margin-left: 85%;
  margin-right: 9%;
  margin-top: -2.5%;
}
.total-precio{
  font-size: 0.8cm;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
