<h2 class="texto">Entra en tu cuenta aqui..</h2>
<form class="form"  >
  <p>
    <mat-form-field class="celda" appearance="fill">
      <mat-label>Email</mat-label>
      <textarea matInput name="Email" [(ngModel)]="cliente.email" type="string" placeholder="jscoffy@gmail.com" [email] = "true"> </textarea>
    </mat-form-field>
    <mat-form-field class="celda" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput name="contraseña" type="password" [(ngModel)]="cliente.password" placeholder="1234hola">

    </mat-form-field>
  </p>
</form>
<button mat-button class="login" (click)="login()" mat-flat-button color="primary" [disabled]="!cliente.password || !cliente.email" >Login</button>
<div>
  <p class="cliente">
    {{log.nombre}} <br>
    {{log.email}} <br>
  </p>
</div>
<button mat-button class="logout" (click)="logout()" mat-flat-button color="primary" [disabled]="!conectado.password">Logout</button>
