.fondo{
  background-image: url("https://img.freepik.com/foto-gratis/vista-superior-granos-cafe-frescos-aislados-sobre-fondo-blanco-espacio-copia_141793-25421.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

img{
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

td {
  font-size: medium;
  text-align: center !important;
  vertical-align: auto !important;
  width: 70%,
}

th {
  font-size: large;
  color: black ;
  text-align: center !important;
  vertical-align: auto !important;
  background-color: #9c786c ;
}

.pedido {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 3%;
 }

.btn-success {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  margin-bottom: 20%;
  cursor: pointer;
}

form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 }
 .paginas{
  margin-left: 10%;
  margin-right: 10%;
 }

.mat-form-field{
  color: white;
 }

.celda-descripcion{
  display: flex;
  justify-content: center;
 }

.descripcion{
  width: 60%;
  text-align: left;
 }

 .buscador{
  margin-left: 0.5%;
 }

.boton-agregar{
  text-align: right;
  margin-bottom: 0% ;
}

.favoritos{
  margin-left: 50%;

}
