.texto{
  color: white;
  margin-left: 5%;
}
.form{
  background-color: white;
  margin-left: 5%;
  margin-right: 84%;
}

.login{
  margin-left: 12.6%;
  margin-top: -0.5%;
}

.cliente{
  color: white;
  justify-content: center;
  margin-left: 25%;
  margin-top: -11.8%;
}

.logout{
  margin-top: 7.18%;
  margin-left: 17%;
}
